[submodule "external/vk-turn-proxy"]
	path = external/vk-turn-proxy
	url = https://github.com/spkprsnts/vk-turn-proxy.git
	branch = dc
[submodule "external/vless-client"]
	path = external/vless-client
	url = https://github.com/spkprsnts/vless-client.git
[submodule "external/turnable"]
	path = external/turnable
	url = https://github.com/TheAirBlow/Turnable.git
[submodule "external/hev-socks5-tunnel"]
	path = external/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel.git
