[submodule "external/vless-client"]
	path = external/vless-client
	url = https://github.com/spkprsnts/vless-client.git
[submodule "external/turnable"]
	path = external/turnable
	url = https://github.com/TheAirBlow/Turnable.git
[submodule "external/hev-socks5-tunnel"]
	path = external/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel.git
[submodule "external/ffmpeg-android-maker"]
	path = external/ffmpeg-android-maker
	url = https://github.com/Javernaut/ffmpeg-android-maker.git
[submodule "external/olcrtc"]
	path = external/olcrtc
	url = https://github.com/openlibrecommunity/olcrtc
[submodule "external/webdav-tunnel"]
	path = external/webdav-tunnel
	url = https://github.com/spkprsnts/webdav-tunnel
