# Gradle & Android
.gradle/
/build/
**/build/
/local.properties
.externalNativeBuild/
.cxx/
/captures/

# IDE - IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr

# Secrets & Signing
*.jks
*.keystore
*.p12
google-services.json

# OS specific
.DS_Store
Thumbs.db
*.swp

# Build outputs
**/release/
